---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import Container from '../layouts/Container.astro';
---

<Layout title='Welcome to Astro.'>
  <Container
    id='index'
  >
    <img
      src='/images/people.svg'
      alt='Two girls having a conversation and eating'
      class='sm:w-1/2 m-auto'
    />
    <div class='sm:w-1/2 text-center'>
      <h1>Tenha controle do valor de seus pedidos com o Table Ease</h1>
      <p>
        Com o Table Ease, dividir o valor da conta com seus amigos nunca foi tão
        fácil e rápido! Agora, você e seus amigos podem ter total controle dos
        pedidos e valores, sem precisar se preocupar com contas separadas e
        divisões complicadas. Experimente agora e veja como o Table Ease pode
        tornar sua experiência em restaurantes ainda mais agradável e prática!
      </p>
    </div>
  </Container>
  <Container
    id='project'
  >
    <h1>Projeto</h1>
  </Container>
  <Container
    id='faq'
  >
    <h1>Faq</h1>
  </Container>
  <Container
    id='blog'
  >
    <h1>Blog</h1>
  </Container>
</Layout>
